*, *::before, *::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  color: #000;
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

html, body {
  height: 100%;
  line-height: 1;
  font-size: 20px;
  color: #000;
  font-family: Roboto;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.header {
  position: relative;
  height: 60px;
  z-index: 100;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 100px 10px 100px;
}

.header__logo {
  width: 130px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  cursor: pointer;
}

.header__logo-image {
  width: 100%;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__item {
  font-size: 26px;
  font-weight: 500;
}

.nav__item:not(:last-child) {
  margin-right: 40px;
}

.nav__link:hover {
  color: #616161;
  cursor: pointer;
}

.main__image {
  position: absolute;
  left: 0;
  top: 91px;
  width: 100%;
  height: 650px;
  background-image: url(assets/img/background.jpg);
  background-size: cover;
  z-index: 1;
  border-top: #d1d1d1 1px solid;
}

.main__image:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.main__about {
  position: relative;
  z-index: 100;
}

.about__header {
  width: 800px;
  margin: 200px 0px 0px -60px;
  font-size: 40px;
  font-weight: 800;
  line-height: 1.15;
  text-align: end;
  text-shadow: 2px 2px #353535;
  color: white;
}

.main__partner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 310px 100px 0px 100px;
}

.partner__header {
  font-size: 26px;
  font-weight: 700;
  opacity: .8;
}

.partner__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 100px;
  margin-top: 30px;
}

.partner__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 240px;
  height: 120px;
  background-color: #d1d1d1;
  border-radius: 10px;
}

.img1 {
  width: 70%;
}

.img2 {
  width: 90%;
}

.img3 {
  width: 40%;
}

.img4 {
  width: 95%;
}

@media (max-width: 767px) {
  .main__image {
    height: 350px;
  }
  .main__partner {
    margin: 80px auto 0px auto;
  }
  .about__header {
    width: 310px;
    margin: 60px auto 0px auto;
    font-size: 30px;
    text-align: center;
    vertical-align: center;
  }
  .partner__header {
    font-size: 20px;
  }
  .partner__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 30px;
  }
  .partner__item {
    width: 130px;
    height: 70px;
  }
}

.card1 {
  border-radius: 10px;
}

.card1__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 370px;
  margin: 150px 100px 0px 100px;
}

.card1__text {
  margin-top: 30px;
}

.card1__header {
  font-size: 54px;
  font-weight: 700;
  font-style: oblique;
}

.card1__list {
  margin-top: 20px;
}

.card1__item {
  font-size: 26px;
}

.card1__item:last-child {
  margin-bottom: 50px;
}

.card1__image {
  width: 35%;
}

.card2__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 480px;
  margin: 150px 0px 0px 0px;
  background-color: #f5f5f5;
}

.card2__text {
  width: 900px;
  margin-top: 30px;
}

.card2__header {
  font-size: 54px;
  font-weight: 700;
  font-style: oblique;
}

.card2__list {
  margin-top: 20px;
}

.card2__item {
  font-size: 26px;
}

.card2__item:not(:last-child) {
  margin-bottom: 10px;
}

.card2__item:last-child {
  margin-bottom: 50px;
}

.card2__image {
  width: 15%;
  padding: 50px 0px;
}

.card3__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 400px;
  margin: 150px 100px 0px 100px;
}

.card3__text {
  margin-top: 30px;
}

.card3__header {
  width: 750px;
  font-size: 54px;
  font-weight: 700;
  font-style: oblique;
}

.card3__list {
  margin-top: 20px;
}

.card3__item {
  font-size: 24px;
  margin: 0px 0px 40px 0px;
}

.card3__item:not(:last-child) {
  margin-bottom: 5px;
}

.card3__image {
  width: 25%;
}

.card4__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 520px;
  margin: 150px 0px 0px 0px;
  background-color: #f5f5f5;
}

.card4__text {
  margin-top: 30px;
  padding: 50px 0px 200px 0px;
}

.card4__header {
  font-size: 54px;
  font-weight: 700;
  font-style: oblique;
}

.card4__list {
  width: 720px;
  margin-top: 20px;
}

.card4__item {
  font-size: 26px;
}

.card4__item:not(:last-child) {
  margin-bottom: 10px;
}

.card4__item:last-child {
  margin-bottom: 50px;
}

.card4__image {
  width: 20%;
  padding: 50px 0px;
}

.footer {
  height: 70px;
  background-color: #000;
  color: #fff;
}

._btn {
  padding: 15px;
  background: #000;
  color: white;
  border-radius: 10px;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

._btn:hover {
  background: #353535;
}
/*# sourceMappingURL=style.css.map */